@charset "utf-8";
@font-face { font-family: 'exobold'; src: url('../fonts/exo-bold-webfont.eot'); src: url('../fonts/exo-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-bold-webfont.woff') format('woff'), url('../fonts/exo-bold-webfont.ttf') format('truetype'), url('../fonts/exo-bold-webfont.svg#exobold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'exoitalic'; src: url('../fonts/exo-italic-webfont.eot'); src: url('../fonts/exo-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-italic-webfont.woff') format('woff'), url('../fonts/exo-italic-webfont.ttf') format('truetype'), url('../fonts/exo-italic-webfont.svg#exoitalic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'exo'; src: url('../fonts/exo-regular-webfont.eot'); src: url('../fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-regular-webfont.woff') format('woff'), url('../fonts/exo-regular-webfont.ttf') format('truetype'), url('../fonts/exo-regular-webfont.svg#exoregular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'nova_square'; src: url('../fonts/novasquare-webfont.eot'); src: url('../fonts/novasquare-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/novasquare-webfont.woff') format('woff'), url('../fonts/novasquare-webfont.ttf') format('truetype'), url('../fonts/novasquare-webfont.svg#nova_squarebook') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'icelandregular'; src: url('../fonts/iceland-regular-webfont.eot'); src: url('../fonts/iceland-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iceland-regular-webfont.woff') format('woff'), url('../fonts/iceland-regular-webfont.ttf') format('truetype'), url('../fonts/iceland-regular-webfont.svg#icelandregular') format('svg'); font-weight: normal; font-style: normal; }



/* Reset CSS Code Start */
html, body, div, ul, li { margin: 0; padding: 0; line-height: 1; }
html, body { height:100%; }
/* images */
img { border:none; }
:-moz-any-link { outline:none; } :-moz-any-link:hover { outline:none; } :-moz-any-link:focus { outline:none; }
div,span,p,img,ul,li,a,h1,h2,h3,h4,input,textarea { outline:none; }

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; }

/* text seleft */
::selection { background:#333333; color:#ffffff; } ::-moz-selection { background:#333333; color:#ffffff; } ::-webkit-selection { background:#333333; color:#ffffff; }

/* render html5 elements as block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

/* headings */ 
*, h1, h2, h3, h4, h5, h6, p, ul, li { margin:0px; padding:0px; font-weight:normal; list-style:none; }
address { font-style:normal; }
a { color:#000; text-decoration:none; }
a:hover { color:#000; text-decoration:underline; }
a:active { color:#000; text-decoration:underline; }
a:visited { color:#000; text-decoration:underline; }

/* table */
table { border-collapse:collapse; }

/* Reset CSS Code Ends */

#wrapper { width:100%; height:auto; word-wrap:break-word; }
.sub_wrapper { width:1160px; height:auto; word-wrap:break-word; margin:0 auto; }

body { background-image: url(../images/Untitled-2.png); background-position: center 20px; font-family: 'exo', sans-serif; font-size: 14px; line-height: 20px; color: #fff; background-color: #203748; }

.header_area { width:100%; float:left; padding:5px 0; background:#2d303a; border-bottom:6px solid #323746; }
.header_area .sub_wrapper { width:980px; }
.header_area .logo { width:100px; float:left; }
.header_area .logo a { width:100px; height:100px; float:left; display:block; background:url(https://m1.behance.net/rendition/modules/107982173/disp/1dbc0a74bf64522e68a3db75a3d87b22.png) no-repeat 0 0; background-size:100%; text-indent:-999em; }
.header_area .right { float:right }
.header_area .mainmenu { float:left; margin:40px 0 0 0;  }
.header_area .mainmenu li { float:left; margin:0 0 0 25px; }
.header_area .mainmenu li a { float:left; color:#ffffff; text-transform:uppercase; text-decoration:none; }
.header_area .mainmenu li a:hover { color:#c2c2c2; }

.profile_area { width:100%; margin:0 auto; float:left; border-bottom:4px solid #323642; }
.profile_area .character { width:23%; float:left; margin:20px 0; }
.profile_area .character img { max-width:200px; width:100%; float:left; }
.profile_area .right { width:75%; float:right; margin:250px 0 0 0; }
.profile_area .right .title { flaot:left; clear:both; font-size:65px; margin:0 0 5px 0; font-family:'icelandregular'; line-height:50px; border:0; display:block; color:#5ecae7; vertical-align:baseline; }
.profile_area .right .sub_title { flaot:left; clear:both; font-size:65px; margin:0 0 10px 0; font-weight:bold; font-family:'icelandregular'; line-height:50px; border:0; display:block; color:#6e6f6f; vertical-align:baseline; }
.profile_area .right .content { flaot:left; clear:both; font-size:34px; margin:0 0 10px 0; font-weight:bold; font-family:'icelandregular'; line-height:34px; border:0; display:block; color:#6e6f6f; vertical-align:baseline; }

.skill_area { width:100%; float:left; padding:15px 0; border-bottom:4px solid #323642; }
.skill_area .title { width:100%; float:left; text-align:center; text-transform:uppercase; margin:10px 0 20px 0; font-size:30px; line-height:30px; color:#73787b; }
.skill_area .skill_list { width:100%; float:left; margin:0; padding:0; }
.skill_area .skill_list li { width:24%; float:left; margin:0 0.5%; text-align:center; }
.skill_area .skill_list li img { width:100%; max-width:200px;  }

.portfolio_area { width: 100%; float:left; margin: auto; padding:15px 0; border-bottom:4px solid #323642; }
.portfolio_area .sub_wrapper { max-width:1360px; width:98%; }
.portfolio_area .title { width:100%; float:left; text-align:center; text-transform:uppercase; margin:10px 0 20px 0; font-size:30px; line-height:30px; color:#73787b; }
.portfolio_area .portfolio_list { max-width:1600px; width:100%; float:left; text-align:center; }
.portfolio_area .portfolio_list li { width:250px; height:250px; position:relative; display:inline-block; overflow:hidden; margin:20px; border-radius:100%; -webkit-box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8; -moz-box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8; box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8; }
.portfolio_area .portfolio_list li .img_box { width:100%; height:100%; float:left; }
.portfolio_area .portfolio_list li .img_box img { width:100%; float:left; }
.portfolio_area .portfolio_list li .info { display:none; width:190px; height:190px; padding:30px; float:left; background:url(https://m1.behance.net/rendition/modules/115726077/disp/a6823e51490928fe076fffa8170fe19a.png) repeat 0 0; position:absolute; top:0; left:0; }
.portfolio_area .portfolio_list li .info h2 { width:100%; height:97px; overflow:hidden; float:left; font-size:22px; line-height:26px; text-align:center; padding:5px 0; border-bottom:1px solid #ffffff; margin:0 0 10px 0; }
.portfolio_area .portfolio_list li .info p { float:left; font-size:15px; font-style:italic; height:50px; line-height:16px;  margin:0 0 10px; overflow:hidden; text-align:center; width:100%; }
.portfolio_area .portfolio_list li .info a { width:100%; font-size:11px; letter-spacing:2px; float:left; text-transform:uppercase; text-align:center; color:#ffffff; text-decoration:none; }
.portfolio_area .portfolio_list li .info a:hover { color:rgba(255, 242, 34, 1); }
.portfolio_area .portfolio_list li:hover .info { display:block; }

.contact_area { width:100%; float:left; background:#2d2f3b; padding-bottom:50px;  }
.contact_area .title { width:100%; float:left; text-align:center; text-transform:uppercase; margin:30px 0 50px 0; font-size:50px; line-height:50px; color:#73787b; }
.contact_area .email { letter-spacing:1.3px; text-align: center; color: #6e6f6f; font-size:45px; font-family:'icelandregular'; margin:25px 0; }
.contact_area .email .mail { padding:15px; color: #5ecae7; text-decoration: none; font-family:'icelandregular'; }
.contact_area .icon { width:310px; margin:0 auto; }
.contact_area .socialicons { width:100%; float:left; }
.contact_area .social { float: left; overflow: hidden; margin:0 5px; }
.contact_area .social a { width:50px; height:40px; float:left; text-decoration:none; padding:20px 15px; text-align:center; border-radius:50%; border: 6px solid #6e6f6f; font-family: 'icelandregular'; color: #5ecae7; font-size:40px; }
.contact_area .social a:hover { border: 6px solid #5ECAE7; color: #6E6F6F; }

.back-to-top { text-decoration: none; position: fixed; bottom: 2em; right: 2em; color: #ffffff; background-color: #323746; font-size: 12px; padding: 1em; display: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
.back-to-top:hover { background-color: rgba(135, 135, 135, 0.50); }

.scene { width:100%; float:left; position:relative; overflow:hidden; right:0; border-bottom:100px solid #342a2a; height:550px; }
.scene > div { position:absolute; bottom:0; }
.ground { width:100%; height:30px; background:#1d1818; z-index:999; }
.scene > div.airplan { width:115px; left:50%; margin-left:150px; height:27px; bottom:500px; background:url(https://m1.behance.net/rendition/modules/115724663/disp/8dd4178c9ac29c3282040561f4b5f88e.png) no-repeat center; }
.scene > div.balloon { width:485px; left:50%; margin-left:-120px; height:145px; bottom:300px; background:url(https://m1.behance.net/rendition/modules/115724661/disp/31c5efb24d9d58ef9de79ab3af29b5b9.png) no-repeat center; }
.scene > div.clouds { width:895px; left:50%; margin-left:-447px; height:253px; bottom:250px; background:url(https://m1.behance.net/rendition/modules/115724653/disp/2a9b95b8af831197186f9deb1fdb0723.png) no-repeat center; }
.scene div.trees { width:908px; height:174px; background:url(https://m1.behance.net/rendition/modules/115724655/disp/c6b76cf2d441eba5ae13b91d0398afc4.png) no-repeat center; z-index:100; left:50%; bottom:20px; margin-left:-454px; }
.scene div.grass { width:964px; height:37px; z-index:200; left:50%; bottom:20px; margin-left:-482px; background:url(https://m1.behance.net/rendition/modules/115724657/disp/5014ead2432ea5277d1c51b04f68083d.png) no-repeat center; }
.buildings { width:763px; height:303px; left:50%; margin-left:-400px; background:url(https://farm6.staticflickr.com/5320/14037240429_4152d0a460_o_d.png) no-repeat center; }




@media screen and (max-width: 1160px) {
.sub_wrapper { width:98%; margin:0 1%; }
}

@media screen and (max-width: 980px) {
.header_area .sub_wrapper { width:98%; margin:0 1%; }
.sub_wrapper { width:98%; margin:0 1%; }
}

@media screen and (max-width: 800px) {
.profile_area .right { margin:80px 0 0 0; }		
.sub_wrapper { width:98%; margin:0 1%; }
/*.skill_area .skill_list li { width:31%; margin:0 1% 20px 1%; }*/
}

@media screen and (max-width: 650px) {
.sub_wrapper { width:98%; margin:0 1%; }
.profile_area .right { margin:80px 0 0 0; }	
.profile_area .right .title { font-size:44px; line-height:44px; }
.profile_area .right .sub_title { font-size:44px; line-height:44px; }
.profile_area .right .content { font-size:24px; line-height:24px; }

.skill_area .skill_list li { width:48%; margin:0 1% 20px 1%; }
}

@media screen and (max-width: 480px) {
.header_area .sub_wrapper { width:98%; margin:0 1%; }
.header_area .logo { width:100%; float:left; margin:0; }
.header_area .logo a { width:100px; margin:0 auto; float:none !important; }
.header_area .right { width:100%; float:left; }
.header_area .right ul { width:100%; float:left; margin:10px 0; }
.header_area .right ul li { float:left; margin:0 8px; }

.profile_area .right { margin:40px 0 0 0; }
.profile_area .right .title { font-size:28px; line-height:28px; }
.profile_area .right .sub_title { font-size:28px; line-height:28px; }
.profile_area .right .content { font-size:20px; line-height:20px; }

.skill_area .skill_list li { width:98%; margin:0 1% 20px 1%; }

}





/*.header { min-height: 100px; width: 100%;  overflow: hidden; border-bottom: 6px solid #323746; }

#CONTACT { width: 100%; height: 400px; }
.inner { margin: 0 auto; max-width: 940px; padding: 0px 10px; overflow: hidden; }
.brand { float: left; margin-top: 0px; padding-top: 12px; }
.navbar .nav.pull-right { float: right; margin-right: 0; }
.ulheader { padding: 0; overflow: hidden; margin: 22px; float:right; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.ulheader li { float: left; height: 60px; overflow: hidden; -webkit-transition: 0.3s; -moz-transition: 0.3s; -ms-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }
.headerlink { display: block; padding: 15px; color: white; text-decoration: none; font-family:Exo; position: relative; top: 0; line-height: 42px; display: block; }
.intro { padding-top: 250px; margin-left: 460px; font-size: 65px; font-family: Iceland; line-height: 50px; border: 0; display: block; color: #5ecae7; vertical-align: baseline; }
.intro h1 { font-size: 60px; line-height: 80px; }
h1 span { color: #6e6f6f; }
.char { margin-top: -25px; margin-left: 200px; float: left; height: 600px; }
.introH2 { margin-top: -35px; margin-left: 464px; color: #6e6f6f; font-size: 35px; font-family: Iceland; }
.introh2 { letter-spacing: 1.3px; margin-left: 460px; color: #6e6f6f; font-size: 35px; font-family: Iceland; }
.skill { border-top: 6px solid #323746; border-bottom: 6px solid #323746; }
.skillh2 { color: #6e6f6f; text-align: center; font: 40px Exo; -webkit-font-smoothing: antialiased; }
.SkillMargin { margin: 0 auto; max-width: 940px; }
.Contacth2 { padding-top: 30px; color: #6e6f6f; text-align: center; font: 40px Exo; -webkit-font-smoothing: antialiased; }
.indicator { margin: 0 auto; }
.indicator li { overflow: hidden; float: left; padding-left: 20px; }


.Portfolio { }
.PORT1 { margin: 0 auto; max-width: 1160px; }
.PORT2 { margin: 0 auto; max-width: 940px; }
.shape { margin: 16px; }
.PortImages { float: left; overflow: hidden; }
.images { height: 200px; border-radius: 100%; -webkit-box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8; -moz-box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8; box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8; }


images:hover { -webkit-box-shadow: -6px -8px 10px red, -4px 7px 10px green, 6px -4px 10px blue; -moz-box-shadow: -6px -8px 10px red, -4px 7px 10px green, 6px -4px 10px blue; box-shadow: -6px -8px 10px red, -4px 7px 10px green, 6px -4px 10px blue; }
.ch-item { width: 100%; height: 100%; border-radius: 50%; position: relative; cursor: default; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
#ch-in { height: 200px; }
.ch-info { margin: 16px; position: absolute; background: rgba(0, 0, 0, 0.8); width: inherit; height: inherit; border-radius: 50%; opacity: 0; box-shadow: 
 inset 0 0 0 16px rgba(255,255,255,0.6),  0 1px 2px rgba(0,0,0,0.1); -webkit-transition: all 0.4s ease-in-out; -webkit-backface-visibility: hidden; }
.ch-info h3 { color: #fff; text-transform: uppercase; letter-spacing: 2px; font-size: 22px; margin: 0 62px; padding: 32px 0 0 0; height: 75px; width: 3px; font-family: 'Open Sans', Arial, sans-serif; text-shadow: 
 0 0 1px #fff,  0 1px 2px rgba(0,0,0,0.3); }
.ch-info p { text-align: center; color: #fff; padding: 10px 5px; font-style: italic; margin: 0 30px; font-size: 12px; border-top: 1px solid rgba(255,255,255,0.5); opacity: 0; }
.ch-info p a { padding: 9px 16px; display: block; color: #fff; color: rgba(255,255,255,0.7); font-style: normal; font-weight: 500; text-transform: uppercase; font-size: 9px; letter-spacing: 1px; font-family: 'Open Sans', Arial, sans-serif; }
.ch-info p a:hover { color: #fff222; color: rgba(255,242,34, 0.8); }
.PortImages:hover .ch-info { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); opacity: 0.9; }
.PortImages:hover .ch-info p { opacity: 1; }
.ch-info { -webkit-box-shadow: -6px -8px 10px #FFA500, -4px 7px 10px #C1FF00, 6px -4px 10px #00DAFF; -moz-box-shadow: -6px -8px 10px #FFA500, -4px 7px 10px #C1FF00, 6px -4px 10px #00DAFF; box-shadow: -6px -8px 10px #FFA500, -4px 7px 10px #C1FF00, 6px -4px 10px #00DAFF; }


.Contact { background: #2d303a; border-top: 6px solid #323746; }
.conh2 { letter-spacing: 1.3px; text-align: center; color: #6e6f6f; font-size: 35px; font-family: Iceland; }
.mail { padding: 15px; color: #5ecae7; text-decoration: none; font-family: Iceland; }
.icon { margin: 0 auto; max-width: 366px; }
.Social { float: left; overflow: hidden; }
.SocialIcon { }
.F { margin-right: 30px; 
	border: 6px solid #6e6f6f; width: 30px; height: 30px; padding: 25px; text-align: center; border-radius: 50%; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.F:hover { border: 6px solid #5ecae7; color: #6e6f6f; }
.FFont:hover { color: #6e6f6f; }
.FFont { margin-top: 17px; color: #5ecae7; font-size: 3.4em; font-weight: normal; line-height: 0px; font-family: Iceland; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
#Be { margin-left: -11px; }
.back-to-top { text-decoration: none; position: fixed; bottom: 2em; right: 2em; color: #ffffff; background-color: #323746; font-size: 12px; padding: 1em; display: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
.back-to-top:hover { background-color: rgba(135, 135, 135, 0.50); }
.sociallink { text-decoration: none; }
a { text-decoration: none; }
*/
