html, body, div, ul, li{
margin: 0;
padding: 0;
line-height: 1;
}
body {

font-family: 'Droid Sans', sans-serif;
font-size: 14px;
line-height: 20px;
color: #fff;
background-color: #203748;
}
#header{
	height: 100px;
	width: 100%;
	background: #2d303a;
	overflow: hidden;
	border-bottom: 6px solid #323746;
}
#PROFILE{
	width: 100%;
	height: 680px;
/*	width: 960px;*/
	margin: auto;
}
#SKILL{
	width: 100%;
	height: 850px;
	margin: auto;
}
#PORTFOLIO{
	width: 100%;
	height: 592px;
	margin: auto;
}
#CONTACT{
	width: 100%;
	height: 400px;
	margin-top: -33px;
}
.inner {
margin: 0 auto;
max-width: 940px;
padding: 0px 10px;
overflow: hidden;
}
.brand{
	float: left;
	margin-top: 0px;
	padding-top: 12px;
}
.navbar .nav.pull-right {
float: right;
margin-right: 0;
}
.ulheader {
	padding: 0;
	overflow: hidden;
	margin: 22px;
	float:right;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
}
.ulheader li {
	
	float: left;
	height: 60px; overflow: hidden;
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.headerlink {
	display: block;
	padding: 15px;
	color: white;
	text-decoration: none;
	font-family:Exo;
    position: relative;
    top: 0;
	
    line-height: 42px;
    display: block;
	
}
.intro{
	padding-top: 250px;
	margin-left: 460px;
	font-size: 65px;
	font-family: Iceland;
	line-height: 50px;
	/*padding: 0px 340px;*/
	border: 0;
	display: block;
	color: #5ecae7;
	vertical-align: baseline;
}
.intro h1 {
	
	font-size: 60px;
	line-height: 80px;
}
h1 span {
	color: #6e6f6f;
}

.char{
	margin-top: -25px;
	margin-left: 200px;
	float: left;
	height: 600px;
	/*width: 190px;
	height: 740px;
	position: absolute;
	margin-top: 930px;*/

}
.introH2{
	margin-top: -35px;
	margin-left: 464px;
	color: #6e6f6f;
	font-size: 35px;
	font-family: Iceland;
}
.introh2{
	
	letter-spacing: 1.3px;
	margin-left: 460px;
	color: #6e6f6f;
	font-size: 35px;
	font-family: Iceland;
}
.skill{
	background-color: #203748;
	border-top: 6px solid #323746;
	border-bottom: 6px solid #323746;
}
.skillh2{
	color: #6e6f6f;
	text-align: center;
	font: 40px Exo;
	-webkit-font-smoothing: antialiased;
}
.Contacth2{
padding-top: 30px;
	color: #6e6f6f;
	text-align: center;
	font: 40px Exo;
	-webkit-font-smoothing: antialiased;
}
/* Photoshop Indicator */
.percentage{
	width: 500px;
	height: 80px;
	margin-left: 400px;
}
.PS{
	background-color: #30a5dc;
	width: 100px;
	height: 100px;
	padding: 25px;
	text-align: center;
	border-radius: 50%;
	/*margin-left: 400px;*/
}
.PsFont{
	color: #fff;
	font-size: 3.4em;
	font-weight: normal;
	line-height: 0px;
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.indicatorPs{
	margin-left: 200px;
	margin-top: -110px;
	text-transform: uppercase;
}
.span1{
	float: right;
}
.line1{
	background: none repeat scroll 0 0 #EAEDF2;
	border-radius: 16px;
	height: 16px;
	margin-bottom: 15px;
	position: relative;
	padding: 0 2px;
	margin-top: -10px;
}
.fillPs{
	width: 90%;
	border-radius: 16px;
	height: 14px;
	margin-bottom: 15px;
	position: absolute;
	margin-top: 1px;
	background: #30a5dc;
	-moz-animation: html5 2s ease-out;
	/* -webkit-animation: html5 2s ease-out; */
}
/* Illustrator Indicator */
.percentage2{
	width: 500px;
	height: 80px;
	margin-left: 400px;
	padding-top: 100px;
}

.AI{
	background-color: #ee742b;
	width: 100px;
	height: 100px;
	padding: 25px;
	text-align: center;
	border-radius: 50%;
	/*margin-left: 400px;*/
}
.fillAi{
	width: 50%;
	border-radius: 16px;
	height: 14px;
	margin-bottom: 15px;
	position: absolute;
	margin-top: 1px;
	background: #ee742b;
	-moz-animation: html5 2s ease-out;
	/* -webkit-animation: html5 2s ease-out; */
}
/* HTML Indicator */
.HTML{
	background-color: #f04949;
	width: 100px;
	height: 100px;
	padding: 25px;
	text-align: center;
	border-radius: 50%;
	/*margin-left: 400px;*/
}
.HTMLFont{
	color: #fff;
	font-size: 2.2em;
	font-weight: normal;
	line-height: 45px;
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.fillHTML{
	width: 70%;
	border-radius: 16px;
	height: 14px;
	margin-bottom: 15px;
	position: absolute;
	margin-top: 1px;
	background: #f04949;
	-moz-animation: html5 2s ease-out;
}
/* CSS Indicator */
.CSS{
	background-color: #24A7FF;
	width: 100px;
	height: 100px;
	padding: 25px;
	text-align: center;
	border-radius: 50%;
	/*margin-left: 400px;*/
}
.fillCSS{
	width: 80%;
	border-radius: 16px;
	height: 14px;
	margin-bottom: 15px;
	position: absolute;
	margin-top: 1px;
	background: #24A7FF;
	-moz-animation: html5 2s ease-out;
}
/* SKILL HOVER EFFECT */
.PS:hover{
	box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8;
	-webkit-transition: all 0.4s ease-in-out;
}

.AI:hover{
	box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8;
	-webkit-transition: all 0.4s ease-in-out;
}
.HTML:hover{
	box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8;
	-webkit-transition: all 0.4s ease-in-out;
}
.CSS:hover{
	box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8;
	-webkit-transition: all 0.4s ease-in-out;
}
 /* Portfolio */
 .Portfolio{
 	border-bottom: 6px solid #323746;
 }
 .PORT1{
 	margin-left: 130px;
 }
 .PORT2{
 	margin-left: 250px;
 }
.shape{
	margin: 16px;
}
.PortImages{
	float: left;
	overflow: hidden;
}
.images{
height: 200px;
	border-radius: 100%;
	-webkit-box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8;
		-moz-box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8;
		box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8;
}
/* Image Hover Effects */
images:hover{
	-webkit-box-shadow: -6px -8px 10px red, -4px 7px 10px green, 6px -4px 10px blue;
		-moz-box-shadow: -6px -8px 10px red, -4px 7px 10px green, 6px -4px 10px blue;
		box-shadow: -6px -8px 10px red, -4px 7px 10px green, 6px -4px 10px blue;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#ch-in{
	height: 200px;
}
.ch-info{
	margin: 16px;
	
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 0;
	box-shadow: 
			inset 0 0 0 16px rgba(255,255,255,0.6),
			0 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: all 0.4s ease-in-out;
	-webkit-backface-visibility: hidden;
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 62px;
	padding: 32px 0 0 0;
	
	height: 75px;
	width: 3px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
	text-align: center;
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
}
.ch-info p a {
	padding: 9px 16px;
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
	
}

.PortImages:hover .ch-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 0.9;
}
.PortImages:hover .ch-info p {
    opacity: 1;}
.ch-info{
	-webkit-box-shadow: -6px -8px 10px #FFA500, -4px 7px 10px #C1FF00, 6px -4px 10px #00DAFF;
		-moz-box-shadow: -6px -8px 10px #FFA500, -4px 7px 10px #C1FF00, 6px -4px 10px #00DAFF;
		box-shadow: -6px -8px 10px #FFA500, -4px 7px 10px #C1FF00, 6px -4px 10px #00DAFF;
}
/* CONTACT */
.Contact{
	background: #2d303a;
}
.conh2{
	letter-spacing: 1.3px;
	text-align: center;
	color: #6e6f6f;
	font-size: 35px;
	font-family: Iceland;
}
.mail{
	padding: 15px;
	color: #5ecae7;
	text-decoration: none;
	font-family: Iceland;
}
.Social{
	float: left;
	overflow: hidden;
}
.SocialIcon{
	margin-left: 551px;
}
.F{
	margin-right: 30px;
	/*background-color: #30a5dc;*/
	border: 6px solid #6e6f6f;
	width: 30px;
	height: 30px;
	padding: 25px;
	text-align: center;
	border-radius: 50%;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.F:hover{
	border: 6px solid #5ecae7;
	color: #6e6f6f;
}
.FFont:hover{
	color: #6e6f6f;
}
.FFont{
margin-top: 17px;
	color: #5ecae7;
	font-size: 3.4em;
	font-weight: normal;
	line-height: 0px;
	font-family: Iceland;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#Be{
	margin-left: -11px;
}

.back-to-top {
			
			text-decoration: none;
			position: fixed;
			bottom: 2em;
			right: 2em;
			color: #ffffff;
			background-color: #323746;
			font-size: 12px;
			padding: 1em;
			display: none;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-khtml-border-radius: 5px;
			border-radius: 5px;
		}

		.back-to-top:hover {	
			background-color: rgba(135, 135, 135, 0.50);
		}	
.sociallink{
	text-decoration: none;
}
a{
	text-decoration: none;
}
/*media Query*/
@media screen and (max-width: 1280px) {
	.char {
	    margin-left: 10%;
	    max-width: 940px;
	}
	.intro {
	    margin-left: 400px;
}
.introH2 {
        margin-left: 400px;
        }
 .images {
     height: 190px;
     }
     #ch-in {
         height: 190px;
     }
.ch-info p {
    margin: 0px 24px;
    }
.PORT1 {
    margin-left: 80px;
}
.PORT2 {
    margin-left: 190px;
}       
.SocialIcon {
    margin-left: 37%;
}
  }      
@media screen and (max-width:1200px){
	.char {
	    margin-left: 7%;
	    max-width: 940px;
	}
	.intro {
		    margin-left: 300px;
	}
	.introH2 {
	        margin-left: 300px;
	        }
	.PORT1 {
	    margin-left: 4%;
	}
	.PORT2 {
	    margin-left: 13%;
	}  
	.SocialIcon {
	    margin-left: 36%;
	}     
}
@media screen and (min-width:1150px) and (max-width:1199px){
	.char {
	    margin-left: 5%;
	    max-width: 940px;
	}
	.intro {
	    margin-left: 290px;
	}
	.introH2 {
	        margin-left: 290px;
	}
	.SkillMargin{
		margin-left: -10%;
	}
	.images {
	    height: 170px;
	}
	#ch-in {
	    height: 170px;
	}
	.ch-info p {
	    margin: 0px 14px;
	}
	.SocialIcon {
	    margin-left: 35%;
	} 
}
@media screen and (min-width:1101px) and (max-width:1149px){
	.char {
	    margin-left: 5%;
	    max-width: 940px;
	}
	.intro {
	    margin-left: 290px;
	}
	.introH2 {
	        margin-left: 290px;
	}
	.SkillMargin{
		margin-left: -10%;
	}
	.images {
	    height: 170px;
	}
	#ch-in {
	    height: 170px;
	}
	.ch-info p {
	    margin: 0px 14px;
	}
	.SocialIcon {
	    margin-left: 35%;
	} 
}
@media screen and (min-width:1051px) and (max-width:1100px){
	.char {
	    margin-left: 3%;
	    max-width: 940px;
	}
	.intro {
	    margin-left: 250px;
	}
	.introH2 {
	        margin-left: 250px;
	}
	.SkillMargin{
		margin-left: -12%;
	}
	.images {
	    height: 170px;
	}
	#ch-in {
	    height: 170px;
	}
	.ch-info p {
	    margin: 0px 14px;
	}
	.SocialIcon {
	    margin-left: 35%;
	}    
}
@media screen and (min-width:1011px) and (max-width:1050px) {
	.char {
	    margin-left: 3%;
	    max-width: 940px;
	}
	.intro {
	    margin-left: 250px;
	    font-size: 60px;
	}
	.introH2 {
	    margin-left: 250px;
	    font-size: 32px;
	}
	.SkillMargin{
		margin-left: -15%;
	}
	.images {
	    height: 160px;
	}
	#ch-in {
	    height: 160px;
	}
	.ch-info p {
	    margin: 0px 9px;
	}
	.SocialIcon {
	    margin-left: 34%;
	}    
}
/*@media screen and (max-width:1010px){
	.SocialIcon {
	    margin-left: 33%;
	}  
}*/
@media screen and (min-width:1000px) and (max-width:1010px){
	.char {
	    margin-left: 3%;
	    max-width: 940px;
	}
	.intro {
	    margin-left: 250px;
	    font-size: 55px;
	}
	.introH2 {
	    margin-left: 250px;
	    font-size: 29px;
	}
	.SkillMargin{
		margin-left: -18%;
	}
	.PORT1 {
	    margin-left: 2%;
	}
	.PORT2 {
	    margin-left: 11%;
	}  
	.images {
	    height: 160px;
	}
	#ch-in {
	    height: 160px;
	}
	.ch-info p {
	    margin: 0px 9px;
	}
	.SocialIcon {
	    margin-left: 33%;
	}    
}
@media screen and (min-width:981px) and (max-width:999px){
.char {
    margin-left: 3%;
    max-width: 940px;
}
.intro {
    margin-left: 250px;
    font-size: 55px;
}
.introH2 {
    margin-left: 250px;
    font-size: 29px;
}
.SkillMargin{
	margin-left: -18%;
}
.PORT1 {
    margin-left: 2%;
}
.PORT2 {
    margin-left: 11%;
}  
.images {
    height: 160px;
}
#ch-in {
    height: 160px;
}
.ch-info p {
    margin: 0px 9px;
}
.SocialIcon {
    margin-left: 33%;
}
}
@media screen and (min-width:901px) and (max-width:980px){
	
	/*.PORT1 {
	    margin-left: 1%;
	}
	.PORT2 {
	    margin-left: 10%;
	}*/ 
	.PORT1 {
	    margin-left: 14%;
	    padding-right: 100px;
	}
	.PORT2 {
	    margin-left: 14%;
	    padding-right: 100px;
	} 
	#PORTFOLIO {
	    height: 790px;
	}
	
	
}
@media screen and (min-width:801px) and (max-width:900px){
	.intro {
	    margin-left: 250px;
	    font-size: 42px;
	}
	.PORT1 {
	    margin-left: 12%;
	    padding-right: 30px;
	}
	.PORT2 {
	    margin-left: 12%;
	    padding-right: 30px;
	} 
	.SkillMargin {
	    margin-left: -30%;
	}
	#PORTFOLIO {
	    height: 790px;
	}
	.SocialIcon {
	    margin-left: 30%;
	}
}
@media screen and (min-width:701px) and (max-width:800px){
	.intro {
	    margin-left: 250px;
	    font-size: 33px;
	    line-height: 32px;
	}
	.introH2 {
	    margin-left: 250px;
	    font-size: 23px;
	    margin-top: -22px;
	}
	.SkillMargin {
	    margin-left: -47%;
	}
	.PORT1 {
	    margin-left: 5%;
	}
	.PORT2 {
	    margin-left: 5%;
	} 
	#PORTFOLIO {
	    height: 790px;
	}
	.SocialIcon {
	    margin-left: 26%;
	}
}

@media screen and (min-width:700px) and (max-width:701px){
	.intro {
	    margin-left: 250px;
	    font-size: 33px;
	    line-height: 32px;
	}
	.introH2 {
	    margin-left: 250px;
	    font-size: 23px;
	    margin-top: -22px;
	}
	.SkillMargin {
	    margin-left: -47%;
	}
	.PORT1 {
	    margin-left: 2%;
	}
	.PORT2 {
	    margin-left: 2%;
	} 
	#PORTFOLIO {
	    height: 790px;
	}
	.SocialIcon {
	    margin-left: 26%;
	}
}
@media screen and (min-width:600px) and (max-width:700px){
	.char {
	    margin-left: 1%;
	    max-width: 940px;
	}
	.intro {
	    margin-left: 215px;
	    font-size: 32px;
	    line-height: 32px;
	}
	.introH2 {
	    margin-left: 215px;
	    font-size: 22px;
	    margin-top: -22px;
	}
	.SkillMargin {
	    margin-left: -62%;
	}
	.PORT1 {
	    margin-left: 3%;
	}
	.PORT2 {
	    margin-left: 3%;
	    padding-right: 1px;
	} 
	.images {
	    height: 160px;
	}
	#ch-in {
	    height: 160px;
	}
	.ch-info p {
	    margin: 0px 9px;
	}
	#PORTFOLIO {
	    height: 696px;
	}
	.SocialIcon {
	    margin-left: 24%;
	}
}
@media screen and (min-width:500px) and (max-width:600px){
	.char {
	    margin-left: 1%;
	    max-width: 940px;
	}
	.intro {
	    margin-left: 215px;
	    font-size: 25px;
	    line-height: 32px;
	}
	.introH2 {
	    margin-left: 215px;
	    font-size: 20px;
	    margin-top: -22px;
	}
	.SkillMargin {
	    margin-left: -69%;
	}
	.PORT1 {
	    margin-left: 3%;
	}
	.PORT2 {
	    margin-left: 3%;
	    padding-right: 1px;
	} 
	.images {
	    height: 160px;
	}
	#ch-in {
	    height: 160px;
	}
	.ch-info p {
	    margin: 0px 9px;
	}
	#PORTFOLIO {
	    height: 696px;
	}
	.SocialIcon {
	    margin-left: 24%;
	}
	

}
